<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopwell/shopwell/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic Configuration</title>
        <title lang="zh-CN">基础设置</title>

        <input-field>
            <name>email</name>
            <copyable>true</copyable>
            <label>eMail address</label>
            <label lang="zh-CN">邮箱地址</label>
            <placeholder>you@example.com</placeholder>
            <placeholder lang="zh-CN">you@example.com</placeholder>
            <helpText>Please fill in your personal eMail address</helpText>
            <helpText lang="zh-CN">请输入你的个人邮箱地址</helpText>
        </input-field>
    </card>
</config>
