.sw-dashboard-statistics {
    &__title {
        display: flex;
        align-items: center;
        gap: var(--scale-size-8);
    }

    &__title-help-text {
        color: var(--color-icon-secondary-default);
    }

    &__header {
        display: flex;
        align-items: center;
        gap: var(--scale-size-8);
    }

    &__metric-select {
        min-width: 9rem;
    }

    &__range-select {
        min-width: 10rem;
    }

    &__chart {
        min-height: 255px;
    }

    .sw-block-field__block {
        height: auto;
    }
}
